.footer= 'Copyright © 2008-' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title

a.to-top(href='#top')
  i(class='icon-top')

script(src='//cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js', defer)
if (is_post())
  script(src='//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js', defer)
if env.env === 'development'
  script(src='/js/theme.js', defer)
else
  script(src='//cdn.jsdelivr.net/gh/felix-fly/felix-fly.github.io@' + theme.version + '/js/theme.min.js', defer)
  script(src='https://hm.baidu.com/hm.js?' + theme.baidu_analytics, defer)