include _partial/helpers.pug

if page.title
  - var current_title = page.title
else
  - var current_title = config.title

if config.feed
  case config.feed.type
    when 'rss2'
      - var feed_type='application/rss+xml'
    when 'atom'
    default
      - var feed_type='application/atom+xml'

doctype html
html(lang=config.language)

  include _partial/head.pug

  body: .container
    .header
      a.logo(href=url_for('.'))= config.title
      if config.subtitle
        p.description= config.subtitle
      .nav-menu
        - for (var i in theme.menu)
          +a_with_current(theme.menu[i].directory, __(theme.menu[i].page), theme.menu[i].icon)

    .wrapper
      .main
        block content
      .sidebar
        each item in theme.widgets
          != partial('_widget/' + item + '.pug', null, {cache: !config.relative_link})

    != partial('_partial/footer.pug')
